body{
    background-color: #3E6D9C;
}
hr{
    border-width: 5px;
    border-color: grey;
    border-style: dotted none none none;
    height: 0px;
    width: 15%;
}
h1{
    
    color: #66BFBF;
}
h3{

    color: #66BFBF;
}

.tesla_link{
    background-color: blue;
    transition: background-color 0.5s;
}

.tesla_link:hover{
    background-color: orangered;
    
}
